<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="pull-right">
        <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"><i class="fa fa-th-list"></i></a>
        <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><i class="fa fa-th fa-3x"></i></a>
    </div>
    <ul>
        <li class="title">
            {{category.categoryName}}
        </li>
        <li class="feed-edit">
            <a type="submit" ng-click="update(category.id)">
                <span>- Edit </span>
            </a>
        </li>
        <li>
            <a type="submit" ng-click="delete(category.id)">
                <span>-Delete</span>
            </a>
        </li>
    </ul>
    <div class="pull-left">
        <a ng-click="fullscreen()"  class="btn-toggle"></a>
    </div>
</nav>
<div class="list" ng-show="layout == 'list'" ng-repeat="item in listItems |orderBy: '-pubDate' ">
    <article class="col-sm-9"  >
        <header>
            <h1 class="title"><a href="{{item.link}}" target="_blank">{{item.title}}</a></h1>
        </header>
        <div class="content">
            <p class="description" ng-bind-html="item.desription"></p>
            <ul class="meta">
                <li>{{item.feed.name | limitTo:25}}</li>
                <li>{{item.pubDate |date:"dd/MMM/yy 'at' H:mma" }}</li>
                <li>{{item.author}}</li>
                <li class="readlater">
                    <form name="editForm" role="form" novalidate ng-submit="create()">
                        <input type="radio" value="{{item.id}}" checked="checked" ng-model="readlater.item.id">
                        <button type="submit" class="btn-readlater">
                            <span>Read later</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</div>
<div ng-show="layout == 'grid'" class="grid">
    <div class="col-sm-4 item " ng-repeat="item in listItems |orderBy: '-pubDate'">
        <h2><a href="{{item.link}}" target="_blank">{{item.title}}</a></h2>
        <p class="description" ng-bind-html="item.desription"></p>
        <ul class="meta">
            <li>{{item.feed.name |limitTo:25}}</li>
            <li class="readlater">
                <form name="editForm" role="form" novalidate ng-submit="create()">
                    <input type="radio" value="{{item.id}}" checked="checked" ng-model="readlater.item.id">
                    <button type="submit" class="btn-readlater">
                        <span>Read later</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myCategoryLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="categoryName" ng-model="category.categoryName" placeholder="Name">

                        <div ng-show="editForm.categoryName.$invalid">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-feed">
                        &nbsp;<span>Save</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        &nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(category.id)">
                <div class="modal-body">
                    <p>Are you sure you want to delete {{category.categoryName}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-category" ng-click="clear()">
                        &nbsp;<span >Delete</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        &nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


