<div>

    <h2 translate="readhubApp.category.home.title">Category</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveCategoryModal" ng-click="clear()">
                    <span translate="readhubApp.category.home.createLabel">Create a new Category</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myCategoryLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCategoryLabel" translate="readhubApp.category.home.createOrEditLabel">Create or edit a Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="readhubApp.category.categoryName">CategoryName</label>
                            <input type="text" class="form-control" name="categoryName"
                                   ng-model="category.categoryName">

                            <div ng-show="editForm.categoryName.$invalid">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                           &nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                           &nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCategoryConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(category.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="readhubApp.category.delete.question" translate-values="{id: '{{category.id}}'}">Are you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            &nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            &nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="readhubApp.category.categoryName">CategoryName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categorys">
                    <td><a ui-sref="categoryDetail({id:category.id})">{{category.categoryName}}</a></td>
                    <td>
                        <button type="submit"
                                ui-sref="categoryDetail({id:category.id})"
                                class="btn btn-info btn-sm">
                            &nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(category.id)"
                                class="btn btn-primary btn-sm">
                            &nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(category.id)"
                                class="btn btn-danger btn-sm">
                            &nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
